[submodule "extras/xensiv-pas-gas-sensor"]
	path = extras/xensiv-pas-gas-sensor
	url = https://github.com/Infineon/xensiv-pas-gas-sensor.git
[submodule "tests/ifx_ardunity/Unity"]
	path = tests/ifx_ardunity/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "extras/makers-devops"]
	path = extras/makers-devops
	url = https://github.com/Infineon/makers-devops.git
[submodule "extras/arduino-devops"]
	path = extras/arduino-devops
	url = https://github.com/Infineon/arduino-devops.git
[submodule "tests/ifx_ardunity"]
	path = tests/ifx_ardunity
	url = https://github.com/LinjingZhang/ifx_ardunity.git
