[submodule "extras/xensiv-pas-gas-sensor"]
	path = extras/xensiv-pas-gas-sensor
	url = https://github.com/Infineon/xensiv-pas-gas-sensor.git
[submodule "tests/ifx_ardunity/Unity"]
	path = tests/ifx_ardunity/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
